@model IEnumerable<QLBANSACH.Models.NHAXUATBAN>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPtheonhaxuatban", "Home", new { id = item.MaNXB })" class="list-group-item">
            @item.TenNXB <!-- Hiển thị tên của mỗi chủ đề -->
        </a>
        <br />
    }
</div>